---
import Layout from '../layouts/Layout.astro';
import { getAllYoutube } from '../libs/cms';

const youtubeList = await getAllYoutube()
---

<Layout>

	{
		youtubeList.contents.map((item) => (
			<h1>{item.title}</h1>
			<h2>{item.content}</h2>
			<a href={item.url}></a>
		))
	}
</Layout>
